#conditional-refresh-message {
  border: 1px solid #999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: white;
  width: 250px;
  padding: 10px;
  z-index: 9;
  border-radius: 5px;
}
